<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Región</th>
      <th>City Name</th>
      <th>Language</th>
      <th>Tiempo en ms</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Afghanistan</td>
      <td>Kabul</td>
      <td>7ed9991ee3a3f332a8e2b89bb1833cf0f6590481</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Åland Islands</td>
      <td>Mariehamn</td>
      <td>eb69ee89387216430c9bdabe0275327f946aa093</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Albania</td>
      <td>Tirana</td>
      <td>d5549112d1127937ab11b322b7814db392e89979</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Algeria</td>
      <td>Algiers</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>4</th>
      <td>American Samoa</td>
      <td>Pago Pago</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Andorra</td>
      <td>Andorra la Vella</td>
      <td>5874478c3b00b20c938fc6970c5089d09070895c</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Angola</td>
      <td>Luanda</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Anguilla</td>
      <td>The Valley</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Antarctica</td>
      <td></td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Antigua and Barbuda</td>
      <td>Saint John's</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Argentina</td>
      <td>Buenos Aires</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Armenia</td>
      <td>Yerevan</td>
      <td>acc5a41bc72a8340c9aa593f5811ee03ea038827</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Aruba</td>
      <td>Oranjestad</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Australia</td>
      <td>Canberra</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Austria</td>
      <td>Vienna</td>
      <td>a6a7709266d3a74cd8c4657eb32a56d5727b91eb</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Azerbaijan</td>
      <td>Baku</td>
      <td>d7ada18413fe231f17fc1c852c3e335345cf05d8</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Bahamas</td>
      <td>Nassau</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Bahrain</td>
      <td>Manama</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Bangladesh</td>
      <td>Dhaka</td>
      <td>a821f95ecf2ead81b1abc3b23ac5ae9640d23a4e</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Barbados</td>
      <td>Bridgetown</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Belarus</td>
      <td>Minsk</td>
      <td>fc47f92b255c338a7bb1393272944094d4e355db</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Belgium</td>
      <td>Brussels</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Belize</td>
      <td>Belmopan</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Benin</td>
      <td>Porto-Novo</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Bermuda</td>
      <td>Hamilton</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Bhutan</td>
      <td>Thimphu</td>
      <td>8323a0cb392ca7bc6ab1bb4b48506f5e771f999a</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Bolivia (Plurinational State of)</td>
      <td>Sucre</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Bonaire, Sint Eustatius and Saba</td>
      <td>Kralendijk</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>15.810303</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Bosnia and Herzegovina</td>
      <td>Sarajevo</td>
      <td>3841094ed7cd7323bb7bc80a3ded039f5ffbc470</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Botswana</td>
      <td>Gaborone</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Bouvet Island</td>
      <td></td>
      <td>2d0887e93e10000ffb0d6ff08d95a5babadca03c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Brazil</td>
      <td>Brasília</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>32</th>
      <td>British Indian Ocean Territory</td>
      <td>Diego Garcia</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>33</th>
      <td>United States Minor Outlying Islands</td>
      <td></td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Virgin Islands (British)</td>
      <td>Road Town</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Virgin Islands (U.S.)</td>
      <td>Charlotte Amalie</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Brunei Darussalam</td>
      <td>Bandar Seri Begawan</td>
      <td>5c8f0cc9d0573b3871fe198ff839b72222435072</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Bulgaria</td>
      <td>Sofia</td>
      <td>57a12d0f101d4deabf7a2ec9287bf221994276b0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Burkina Faso</td>
      <td>Ouagadougou</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Burundi</td>
      <td>Gitega</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Cambodia</td>
      <td>Phnom Penh</td>
      <td>819855d5513fcd09ac18987f86a837fe9760f487</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Cameroon</td>
      <td>Yaoundé</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Canada</td>
      <td>Ottawa</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Cabo Verde</td>
      <td>Praia</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Cayman Islands</td>
      <td>George Town</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Central African Republic</td>
      <td>Bangui</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Chad</td>
      <td>N'Djamena</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Chile</td>
      <td>Santiago</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>48</th>
      <td>China</td>
      <td>Beijing</td>
      <td>89698c5aa5b69668f37b051c58a59996164da300</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Christmas Island</td>
      <td>Flying Fish Cove</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Cocos (Keeling) Islands</td>
      <td>West Island</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Colombia</td>
      <td>Bogotá</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Comoros</td>
      <td>Moroni</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Congo</td>
      <td>Brazzaville</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Congo (Democratic Republic of the)</td>
      <td>Kinshasa</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Cook Islands</td>
      <td>Avarua</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Costa Rica</td>
      <td>San José</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Croatia</td>
      <td>Zagreb</td>
      <td>99f05985b7ca43db6ce5dac23f46deaf93dd99bb</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Cuba</td>
      <td>Havana</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Curaçao</td>
      <td>Willemstad</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Cyprus</td>
      <td>Nicosia</td>
      <td>54ab1647818b0a8a276194f1bc45f42c4483c80c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Czech Republic</td>
      <td>Prague</td>
      <td>beb7542b6ee7df29f895fb091a00046f075ecc75</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Denmark</td>
      <td>Copenhagen</td>
      <td>23685cc77a91031da52cc52dabda537ca5d82b6f</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Djibouti</td>
      <td>Djibouti</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Dominica</td>
      <td>Roseau</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Dominican Republic</td>
      <td>Santo Domingo</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Ecuador</td>
      <td>Quito</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Egypt</td>
      <td>Cairo</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>68</th>
      <td>El Salvador</td>
      <td>San Salvador</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Equatorial Guinea</td>
      <td>Malabo</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Eritrea</td>
      <td>Asmara</td>
      <td>772bb69a0216bc0e67f524c52576ae22e4d57678</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Estonia</td>
      <td>Tallinn</td>
      <td>7ca0aa3e5f58a5514fe9347c1769181c87537083</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Ethiopia</td>
      <td>Addis Ababa</td>
      <td>91cf557893180153ebde0e9f6b140e0979139711</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Falkland Islands (Malvinas)</td>
      <td>Stanley</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Faroe Islands</td>
      <td>Tórshavn</td>
      <td>74feb97f733508ba1bca7a6bbe21f17b1fbb82d0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Fiji</td>
      <td>Suva</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Finland</td>
      <td>Helsinki</td>
      <td>e7010794742bcb6ef0071e1cc686d1426a607a49</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>77</th>
      <td>France</td>
      <td>Paris</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>78</th>
      <td>French Guiana</td>
      <td>Cayenne</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>79</th>
      <td>French Polynesia</td>
      <td>Papeetē</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>80</th>
      <td>French Southern Territories</td>
      <td>Port-aux-Français</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Gabon</td>
      <td>Libreville</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Gambia</td>
      <td>Banjul</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Georgia</td>
      <td>Tbilisi</td>
      <td>f7de3263a3a74a55ba21138d995c625f942f3754</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Germany</td>
      <td>Berlin</td>
      <td>a6a7709266d3a74cd8c4657eb32a56d5727b91eb</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Ghana</td>
      <td>Accra</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Gibraltar</td>
      <td>Gibraltar</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Greece</td>
      <td>Athens</td>
      <td>54ab1647818b0a8a276194f1bc45f42c4483c80c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>88</th>
      <td>Greenland</td>
      <td>Nuuk</td>
      <td>b225a812bd53b6158ea69ab3eeeea852a19b86cc</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>89</th>
      <td>Grenada</td>
      <td>St. George's</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>90</th>
      <td>Guadeloupe</td>
      <td>Basse-Terre</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>91</th>
      <td>Guam</td>
      <td>Hagåtña</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>92</th>
      <td>Guatemala</td>
      <td>Guatemala City</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Guernsey</td>
      <td>St. Peter Port</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Guinea</td>
      <td>Conakry</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Guinea-Bissau</td>
      <td>Bissau</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Guyana</td>
      <td>Georgetown</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Haiti</td>
      <td>Port-au-Prince</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Heard Island and McDonald Islands</td>
      <td></td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Vatican City</td>
      <td>Vatican City</td>
      <td>a9b1205173b00d149f32d9de6d1b7c89c01a0b23</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Honduras</td>
      <td>Tegucigalpa</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Hungary</td>
      <td>Budapest</td>
      <td>20c22abb6278430c501b3fcc425e659c471e7e71</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Hong Kong</td>
      <td>City of Victoria</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Iceland</td>
      <td>Reykjavík</td>
      <td>c9f5bb74a8bc255cf6357cbfae8ef10935161be6</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>104</th>
      <td>India</td>
      <td>New Delhi</td>
      <td>e554e1a23a0888e142620075d9618e78a5ff914a</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Indonesia</td>
      <td>Jakarta</td>
      <td>d33f31ad3d905a58ac1bf8aa94eff90eda21f29c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Ivory Coast</td>
      <td>Yamoussoukro</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Iran (Islamic Republic of)</td>
      <td>Tehran</td>
      <td>ef3c392d9d4eae027237f297fbc4d24765df5480</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Iraq</td>
      <td>Baghdad</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Ireland</td>
      <td>Dublin</td>
      <td>7a7123bd68faa7428b1bb2260023dd073fdeb9a6</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Isle of Man</td>
      <td>Douglas</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Israel</td>
      <td>Jerusalem</td>
      <td>6e254acf64084dcf6b38e0baf562cbee1cc4d58d</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Italy</td>
      <td>Rome</td>
      <td>21df73947a06d77d2ad5fe166c8ddfcdc53a6fdb</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Jamaica</td>
      <td>Kingston</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Japan</td>
      <td>Tokyo</td>
      <td>dfba2b44a6cab94b62dca9b8ebc39b86771b735c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Jersey</td>
      <td>Saint Helier</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Jordan</td>
      <td>Amman</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Kazakhstan</td>
      <td>Nur-Sultan</td>
      <td>a315c6c9364318eaec44f69fa5f7f7ba0bcb0f83</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Kenya</td>
      <td>Nairobi</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Kiribati</td>
      <td>South Tarawa</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Kuwait</td>
      <td>Kuwait City</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>121</th>
      <td>Kyrgyzstan</td>
      <td>Bishkek</td>
      <td>4396dbf5ea467f61899ba7eeaf6d4043463cff02</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Lao People's Democratic Republic</td>
      <td>Vientiane</td>
      <td>f51aae059fcd85b0d0149d60b817049a4bbd3660</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Latvia</td>
      <td>Riga</td>
      <td>30992973301c1614a9e464e4c83ab781ea05594f</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Lebanon</td>
      <td>Beirut</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Lesotho</td>
      <td>Maseru</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Liberia</td>
      <td>Monrovia</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Libya</td>
      <td>Tripoli</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Liechtenstein</td>
      <td>Vaduz</td>
      <td>a6a7709266d3a74cd8c4657eb32a56d5727b91eb</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Lithuania</td>
      <td>Vilnius</td>
      <td>32d92fa4e1614142895f937e167ecc9a3d2f9f68</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Luxembourg</td>
      <td>Luxembourg</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Macao</td>
      <td></td>
      <td>89698c5aa5b69668f37b051c58a59996164da300</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>132</th>
      <td>North Macedonia</td>
      <td>Skopje</td>
      <td>660c277b9dc0599813be1e15b837f90df32089a0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Madagascar</td>
      <td>Antananarivo</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Malawi</td>
      <td>Lilongwe</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Malaysia</td>
      <td>Kuala Lumpur</td>
      <td>af9545e81fa2ff6ae1c963790220195c11565920</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Maldives</td>
      <td>Malé</td>
      <td>8471850e28009b1d42977822d5659a8bf371eb50</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Mali</td>
      <td>Bamako</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Malta</td>
      <td>Valletta</td>
      <td>578e11d15070690c8416b17a476b0c90a2520961</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Marshall Islands</td>
      <td>Majuro</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Martinique</td>
      <td>Fort-de-France</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>141</th>
      <td>Mauritania</td>
      <td>Nouakchott</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>142</th>
      <td>Mauritius</td>
      <td>Port Louis</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>143</th>
      <td>Mayotte</td>
      <td>Mamoudzou</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>144</th>
      <td>Mexico</td>
      <td>Mexico City</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>145</th>
      <td>Micronesia (Federated States of)</td>
      <td>Palikir</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Moldova (Republic of)</td>
      <td>Chișinău</td>
      <td>cac71941ad5bdf7c02ba86e16fc69364349c0724</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Monaco</td>
      <td>Monaco</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Mongolia</td>
      <td>Ulan Bator</td>
      <td>a0f5b9a17e80f3c0747a80b6c038b0016cac5bb6</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Montenegro</td>
      <td>Podgorica</td>
      <td>dc178b76c59d75368a679d7a1264a4d786ac9026</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Montserrat</td>
      <td>Plymouth</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Morocco</td>
      <td>Rabat</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Mozambique</td>
      <td>Maputo</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Myanmar</td>
      <td>Naypyidaw</td>
      <td>091f4dd601cb8426dd79b326e4f9155c6634580b</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Namibia</td>
      <td>Windhoek</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Nauru</td>
      <td>Yaren</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Nepal</td>
      <td>Kathmandu</td>
      <td>416ba28caf4b72ab52687ed3cff3bf274766bf32</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Netherlands</td>
      <td>Amsterdam</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>158</th>
      <td>New Caledonia</td>
      <td>Nouméa</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>159</th>
      <td>New Zealand</td>
      <td>Wellington</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Nicaragua</td>
      <td>Managua</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Niger</td>
      <td>Niamey</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Nigeria</td>
      <td>Abuja</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Niue</td>
      <td>Alofi</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Norfolk Island</td>
      <td>Kingston</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Korea (Democratic People's Republic of)</td>
      <td>Pyongyang</td>
      <td>6e081b5948efd1a97cecee33a5186c2d9195a93a</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Northern Mariana Islands</td>
      <td>Saipan</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Norway</td>
      <td>Oslo</td>
      <td>2d0887e93e10000ffb0d6ff08d95a5babadca03c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Oman</td>
      <td>Muscat</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Pakistan</td>
      <td>Islamabad</td>
      <td>482f6e6684ecc26e37bac92102eeaeaf8906cdd6</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Palau</td>
      <td>Ngerulmud</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Palestine, State of</td>
      <td>Ramallah</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Panama</td>
      <td>Panama City</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Papua New Guinea</td>
      <td>Port Moresby</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Paraguay</td>
      <td>Asunción</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Peru</td>
      <td>Lima</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Philippines</td>
      <td>Manila</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Pitcairn</td>
      <td>Adamstown</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Poland</td>
      <td>Warsaw</td>
      <td>4148adef08656fe12eb24b0801ee248939fceca5</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Portugal</td>
      <td>Lisbon</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Puerto Rico</td>
      <td>San Juan</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Qatar</td>
      <td>Doha</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Republic of Kosovo</td>
      <td>Pristina</td>
      <td>d5549112d1127937ab11b322b7814db392e89979</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Réunion</td>
      <td>Saint-Denis</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Romania</td>
      <td>Bucharest</td>
      <td>cac71941ad5bdf7c02ba86e16fc69364349c0724</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Russian Federation</td>
      <td>Moscow</td>
      <td>5537fc8e69d7e9830f739eb94071c2212b4027ad</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Rwanda</td>
      <td>Kigali</td>
      <td>a1715e7e138f0857cea46366b94bf2499a4db632</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Saint Barthélemy</td>
      <td>Gustavia</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Saint Helena, Ascension and Tristan da Cunha</td>
      <td>Jamestown</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Saint Kitts and Nevis</td>
      <td>Basseterre</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Saint Lucia</td>
      <td>Castries</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Saint Martin (French part)</td>
      <td>Marigot</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Saint Pierre and Miquelon</td>
      <td>Saint-Pierre</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Saint Vincent and the Grenadines</td>
      <td>Kingstown</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Samoa</td>
      <td>Apia</td>
      <td>118564ebbfea932a9b44a8964988be67e0de0efd</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>195</th>
      <td>San Marino</td>
      <td>City of San Marino</td>
      <td>21df73947a06d77d2ad5fe166c8ddfcdc53a6fdb</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Sao Tome and Principe</td>
      <td>São Tomé</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Saudi Arabia</td>
      <td>Riyadh</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Senegal</td>
      <td>Dakar</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>199</th>
      <td>Serbia</td>
      <td>Belgrade</td>
      <td>dc178b76c59d75368a679d7a1264a4d786ac9026</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Seychelles</td>
      <td>Victoria</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>201</th>
      <td>Sierra Leone</td>
      <td>Freetown</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Singapore</td>
      <td>Singapore</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Sint Maarten (Dutch part)</td>
      <td>Philipsburg</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Slovakia</td>
      <td>Bratislava</td>
      <td>ed56a16036e0698283d357755e64ac89bc46aa4c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>205</th>
      <td>Slovenia</td>
      <td>Ljubljana</td>
      <td>5a16516e0dc4f31f571aa234ec90eecd771fb748</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Solomon Islands</td>
      <td>Honiara</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Somalia</td>
      <td>Mogadishu</td>
      <td>f3e52ce7bd0b42d63d3de110548107a403eec706</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>208</th>
      <td>South Africa</td>
      <td>Pretoria</td>
      <td>40604522f2257ffe29e86f4f4812290ed9c290b1</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>209</th>
      <td>South Georgia and the South Sandwich Islands</td>
      <td>King Edward Point</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Korea (Republic of)</td>
      <td>Seoul</td>
      <td>6e081b5948efd1a97cecee33a5186c2d9195a93a</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Spain</td>
      <td>Madrid</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Sri Lanka</td>
      <td>Sri Jayawardenepura Kotte</td>
      <td>7c8ed92c2b84a73afaaf4e7b550eb6271a5a500b</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Sudan</td>
      <td>Khartoum</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>214</th>
      <td>South Sudan</td>
      <td>Juba</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>215</th>
      <td>Suriname</td>
      <td>Paramaribo</td>
      <td>f61c54c1d70775fd5bb25406d1186806fe1569a0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Svalbard and Jan Mayen</td>
      <td>Longyearbyen</td>
      <td>2d0887e93e10000ffb0d6ff08d95a5babadca03c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Swaziland</td>
      <td>Mbabane</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Sweden</td>
      <td>Stockholm</td>
      <td>eb69ee89387216430c9bdabe0275327f946aa093</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>219</th>
      <td>Switzerland</td>
      <td>Bern</td>
      <td>a6a7709266d3a74cd8c4657eb32a56d5727b91eb</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>220</th>
      <td>Syrian Arab Republic</td>
      <td>Damascus</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>221</th>
      <td>Taiwan</td>
      <td>Taipei</td>
      <td>89698c5aa5b69668f37b051c58a59996164da300</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>222</th>
      <td>Tajikistan</td>
      <td>Dushanbe</td>
      <td>8e632c27baacf8f2c2743468c28b6c8274c9c3b4</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>223</th>
      <td>Tanzania, United Republic of</td>
      <td>Dodoma</td>
      <td>1fa52793cf4e3a0cfbec57d107c1cfcb6372b617</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>224</th>
      <td>Thailand</td>
      <td>Bangkok</td>
      <td>7160c86e70976a6ec66c4445ab1453f9553a7c05</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>225</th>
      <td>Timor-Leste</td>
      <td>Dili</td>
      <td>053aa1d851d84866a6ba3bcdfa6baca8a8c71411</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>226</th>
      <td>Togo</td>
      <td>Lomé</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>227</th>
      <td>Tokelau</td>
      <td>Fakaofo</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Tonga</td>
      <td>Nuku'alofa</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>229</th>
      <td>Trinidad and Tobago</td>
      <td>Port of Spain</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>230</th>
      <td>Tunisia</td>
      <td>Tunis</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>231</th>
      <td>Turkey</td>
      <td>Ankara</td>
      <td>efaad145ca7774441dc7897b2ad3d402911cd5b5</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>232</th>
      <td>Turkmenistan</td>
      <td>Ashgabat</td>
      <td>87c59f474baa839d4a93f9d5c578d522ac3c63dd</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>233</th>
      <td>Turks and Caicos Islands</td>
      <td>Cockburn Town</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>234</th>
      <td>Tuvalu</td>
      <td>Funafuti</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Uganda</td>
      <td>Kampala</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>236</th>
      <td>Ukraine</td>
      <td>Kyiv</td>
      <td>181bf512944dd9ac3ae1e811c9dd13126252a990</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>237</th>
      <td>United Arab Emirates</td>
      <td>Abu Dhabi</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>238</th>
      <td>United Kingdom of Great Britain and Northern Ireland</td>
      <td>London</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>239</th>
      <td>United States of America</td>
      <td>Washington, D.C.</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>240</th>
      <td>Uruguay</td>
      <td>Montevideo</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>241</th>
      <td>Uzbekistan</td>
      <td>Tashkent</td>
      <td>d62d7b68f349bf696eac28b8fad484b35f8ca25c</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>242</th>
      <td>Vanuatu</td>
      <td>Port Vila</td>
      <td>634aef873fe44c04677f04fefdffc8c6f585be83</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Venezuela (Bolivarian Republic of)</td>
      <td>Caracas</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>244</th>
      <td>Vietnam</td>
      <td>Hanoi</td>
      <td>4993440c239380eb89af2f59b49453fd5e11afc0</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>245</th>
      <td>Wallis and Futuna</td>
      <td>Mata-Utu</td>
      <td>68437bf96454e8b454d9e60af59d98f9e603b994</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>246</th>
      <td>Western Sahara</td>
      <td>El Aaiún</td>
      <td>2001ca082b2d2742765d8ac9182678bfe0374fbf</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>247</th>
      <td>Yemen</td>
      <td>Sana'a</td>
      <td>9970632f55af4b1b8216e4efb6d61ee39c2c5736</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>248</th>
      <td>Zambia</td>
      <td>Lusaka</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
    <tr>
      <th>249</th>
      <td>Zimbabwe</td>
      <td>Harare</td>
      <td>649df08a448ee3fa90f3746baaf6b0907df42c91</td>
      <td>16.795410</td>
    </tr>
  </tbody>
</table>